/* NAVIGATION BAR */
#navbar {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items:center;
    font-size: 20px;
    font-weight:bolder;
    padding-right: 100px;
    text-align: end;
    background-color: rgb(138, 169, 226);
    border: 0;
    border-bottom: 3px;
    border-style: solid;
    border-color: rgb(85, 118, 155);
    box-shadow: 0 -10px 15px -5px inset rgb(85, 118, 155);

/* Optional: Have Navigation bar always be on top of the screen when scrolling down */
    position: sticky;
    top: 0px;
}

/* CAT LOGO IMG */
#catlogo {
    width: 170px;
    
}

/* NAVBAR LINKS */
a {
    color: rgb(31, 31, 31);
}

a:hover {
    cursor: pointer;
    color: aliceblue;
}

/* =====HOME PAGE STYLING===== */
.CatCardDisplay {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(5, 1fr);

}

.HomePageWrapper {
    text-align: center;
}

/* CAT CARDS */
.CatCard {
    width: calc(100% - fit-content);
    height: calc(100% - fit-content);
    padding: 20px;
    
    transition: background-color .15s ease-out .15s;
    background-color: white;
    border: 3px;
    border-style: solid;
    border-color: rgb(155, 177, 202);
    border-radius: 15px;
    box-shadow: 0 0 15px 5px inset rgb(155, 177, 202);

}

.CatCard:hover {
    cursor: pointer;
    background-color: rgb(221, 228, 236);
}

/* CAT CARD IMAGE ONLY */
.indivCats {
    width: 200px;
    border: 2px;
    border-style: solid;
    border-color: rgb(155, 177, 202);
    border-radius: 10px;

}

.MainContent {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.Basket {
    height: 1020px;
    width: 350px;
    overflow: scroll;
    background-color: rgb(138, 169, 226);
    border: 3px;
    border-bottom: 3px;
    border-style: solid;
    border-color: rgb(85, 118, 155);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0px 5px 5px inset rgb(85, 118, 155);

}

/* BUTTONS */
button {
    margin: 5px;
    width:fit-content;
    border: 2px;
    border-style: solid;
    border-color: rgb(155, 177, 202);
    border-radius: 5px;
}